statemachine/translate.asl.json
{
    "Comment": "Translate all documents State Machine",
    "StartAt": "Copy to Type Folder",
    "States": {
      "Copy to Type Folder": {
          "Type": "Task",
          "Resource": "${CopyToTypeFolder}",
          "Next": "Translate All"
      }, 
      "Translate All": {
        "Type": "Map",
        "InputPath": "$",
        "ItemsPath": "$.contentTypes",
        "Parameters": {
          "Id.$":  "$.JobName",
          "JobName.$":  "$.JobName",
          "InputBucket.$":  "$.InputBucket",
          "InputS3Uri.$":  "$.InputS3Uri",
          "OutputBucket.$":  "$.OutputBucket",
          "SourceLanguageCode.$":  "$.SourceLanguageCode",
          "TargetLanguageCodes.$": "$.TargetLanguageCodes",
          "ContentType.$": "$$.Map.Item.Value"
        },
        "Next": "Copy to Parent Folder",                  
        "Iterator": {
          "StartAt": "Start Translate Job",
          "States": {
            "Start Translate Job": {
              "Type": "Task",
              "Resource": "${StartTranslateJob}",
              "Next": "Configure Count",
              "Retry": [ {
                  "ErrorEquals": [ "LimitExceededException", "ProvisionedThroughputExceededException"],
                  "IntervalSeconds": 10,
                  "BackoffRate": 2.0,
                  "MaxAttempts": 3
              }]
            },
            "Configure Count": {
              "Type": "Pass",
              "InputPath": "$",
              "Result": {
                  "count": "${NumberOfIteration}",
                  "index": 0,
                  "step": 1
              },
              "ResultPath": "$.iterator",
              "Next": "Iterator"
            },
            "Iterator": {
                "Type": "Task",
                "Resource": "${Iterator}",
                "ResultPath": "$.iterator",
                "Next": "Is Count Reached Or Succeeded"
            },
            "Is Count Reached Or Succeeded": {
                "Type": "Choice",
                "Choices": [
                    {
                        "Variable": "$.iterator.continue",
                        "BooleanEquals": true,
                        "Next": "Get Translate Job"
                    }
                ],
                "Default": "Finish one type Translate Job"
            },
            "Get Translate Job": {
                "Type": "Task",
                "Resource": "${GetTextTranslationJob}",
                "Next": "Wait 3 minute"
            },
            "Wait 3 minute": {
              "Type": "Wait",
              "Seconds": 180,
              "Next": "Iterator"
            },
            "Finish one type Translate Job": {
              "Type": "Pass",
              "OutputPath": "$", 
              "End": true
            }
          }
        },
        "ResultPath": "$"
      },
      "Copy to Parent Folder": {
          "Type": "Task",
          "Resource": "${CopyToParentFolder}",
          "Next": "Finish All Translate Job"
      }, 
      "Finish All Translate Job": {
        "Type": "Pass",
        "OutputPath": "$", 
        "Next": "Publish to SNS"
      }, 
      "Publish to SNS": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
         "TopicArn":"${TranslateCompletionSNSTopic}",
         "Message.$": "$"
        },
        "Next": "SuccessState"
       }, 
      "SuccessState": {
        "Type": "Succeed"
      }
    }
  }